.block-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .block-title h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .partner-section {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 3px 12px -1px rgb(0 0 0 / .75);
    border-radius: 20px;
  }
  
  .banking-partner-carousel .item {
    text-align: center;
    padding: 15px;
    
  }
  
  .bank-partner-img img {
    width: 100%;
    height: auto;
    max-width: 150px; 
    display: inline-block;
    
  }
  
  .owl-carousel .owl-item {
    transition: transform 0.3s ease;
  }
  
  .owl-carousel .owl-item:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  